<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Work10</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
	<h1>Список користувачів(максимум зараз 6)</h1>
	
	<label>Кількість користувачів:</label>
	<input type="number" ng-model="limitCount">
	
	<label>Починаючи з користувача:</label>
	<input type="number" ng-model="startFrom">
	
	<ul>
	  <li ng-repeat="user in users | limitTo: limitCount: startFrom">
		{{user}}
	  </li>
	</ul>
	<script src="./Work10.js"></script>
</body>
</html>
